@import "bootstrap";
@import "font-awesome";

body {
  background: image_url('geometry2.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

#map {
  height: 300px;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #ffEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.navbar-inverse .navbar-brand {
  font-family: 'source_sans_proitalic', serif;
  font-size: 26px;
}

.pagination {
  padding-bottom: 10px;
}

.navbar {
  background: image_url('denim.png');
  box-shadow: 10px 10px 5px grey;
  letter-sapcing: -0.3px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.text-style {
  font-family: 'source_sans_proitalic', serif;
  font-size: 26px;
}
